html, body, #root {
  height: 100%;
}

.App {
  background-color: #edf2fb;
  min-height: 98%;
  position: relative;
}

figcaption {
  font-style: italic;
  font-size: 0.9em;
}

.footer {
  background-color: #8ab1ac;
  padding: 4px 0 4px;
  border-top: solid #5d422b;
  color: white;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 16px;
}

.footer a {
  color: white;
}

h1 {
  text-align: center;
  color: #1f634c;
}

main {
  width: 100%;
  margin: 0 auto;
}

nav {
  background-color: #8ab1ac;
  padding: 12px 12px;
  border-bottom: solid #5d422b;
}

.leaflet-container {
  height: 100%;
  margin: 0 auto;
}

nav .nav-link {
  width: 100px;
  padding: 13px;
  background: #8ab1ac;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.parkContainer {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.parkContainer img {
  width: 100%;
}
