body {
  background-image: url('./glacier1.1.jpg');
  background-color: #edf2fb;
}

.App {
  background-color: #edf2fb;
}

h1 {
  text-align: center;
  color: #1f634c;
}

nav {
  background-color: #8abfb8;
  padding: 12px 12px;
}

.leaflet-container {
  height: 600px;
  width: 80%;
  margin: 0 auto;
  border-style: solid;
  border-color: #5d422b;
}

.nav-link {
  width: 100px;
  padding: 12px;
  margin: 6px 6px;
  background: #8abfb8;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
